<tr>
    <td style="text-align:center;border:1px solid black;">{!!Title}</td>
    <td style="text-align:center;border:1px solid black"><a href="https://aka.ms/emeaplanner?taskId={!!TaskID}">Planner Link</a></td>
    <td style="margin: 0 30vw;border:1px solid black;">
        {!!Description}                
    </td>
    <td style="background-color:red;color:white;border:1px solid black;text-align:center;">{!!Colour}</td>
    <td style="background-color:orange;color:white;border:1px solid black;text-align:center;">{!!State} (Creator is {!!CreatedBy})</td>
</tr>